body {
  color: #151426;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/*Style du fond (en arrière du body)*/
body::before {
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../img/Fond_1200.png);
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*classe Wrapper*/

#wrapper {
  width: 80vw;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 3vw;
  position: relative;
  padding: 2vw;
  padding-bottom: 3vw;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 50px #000;
}

h1 {
  color: #151426;
  text-decoration: underline;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 2vw;
}

h3 {
  text-align: center;
  color: #80c7f2;
}

p {
  text-align: justify;
}

/*Header du Wrapper*/

header > h1 {
  margin-top: 0;
}

img {
  position: absolute;
  top: 3vw;
  right: 3vw;
}

img:hover, .loading {
  animation: spin 3s infinite;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Flexbox pour formsection, wordssection, resultsection et textsection*/
#conteneurRangee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#conteneurColonne {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

/*Sections*/

#formsection,
#wordssection,
#resultsection {
  width: 45vw;
}

#textsection {
  width: 30vw;
}

#text {
  height: 50vh;
  padding: 0.5em 1em;
  border: #e6e6e6 solid 2px;
  box-shadow: 0px 0px 50px #e6e6e6;
  overflow: auto;
  resize: vertical;
  border-radius: 10px;
  min-height: 30vh;
}

#results,
#words,
#form,
#relatedwords {
  padding: 0.5em 1em;
  border: #e6e6e6 solid 2px;
  box-shadow: 0px 0px 50px #e6e6e6;
  height: 10vh;
  overflow: auto;
  resize: vertical;
  border-radius: 10px;
}

#results,
#words,
#relatedwords {
  min-height: 10vh;
}

#results {
  background-color: #80c7f2;
}

#form {
  min-height: 30vh;
}

#url {
  width: 600px;
}

#empty {
  height: 100px;
}

/*Style du formulaire (précisions)*/

#choisirText {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

#textPicker,
#precision {
  border: #e6e6e6 solid 2px;
  font-family: "Raleway", sans-serif;
}

#precisionDiv {
  padding-bottom: 0.5vw;
}

#queries {
  padding: 0.5vw 0vw;
}

.centreBouton {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5vw 0vw;
}

.bouton {
  color: #151426;
  font-weight: 900;
  background-color: #80c7f2;
  padding: 0.5vw;
  border-radius: 5px;
  border: none;
  transition: color 500ms, background-color 500ms;
}

.bouton:hover {
  color: #80c7f2;
  background-color: #151426;
}

/*Style du texte (précision)*/

#text > h3 {
  color: #151426;
}

/*Pade pour l'édition des mots (ouvre une autre fenêtre)*/

#conteneurEdition {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

#edition {
  padding: 0.5em 1em;
  border: #e6e6e6 solid 2px;
  box-shadow: 0px 0px 50px #e6e6e6;
  height: 10vh;
  overflow: auto;
  resize: vertical;
  border-radius: 10px;
  width: 40vw;
  height: 40vh;
}

th,
td {
  padding-left: 1vw;
  padding-right: 1vw;
}

#results-table > button {
  color: #151426;
  font-weight: 900;
  background-color: #80c7f2;
  padding: 0.5vw;
  border-radius: 5px;
  border: none;
  /*transition: color 500ms, background-color 500ms;*/
}

#lemma-input,
#root-input {
  border: #e6e6e6 solid 2px;
}

footer {
  text-align: center;
}

#databasesection {
  text-align: center;
  margin: 15px;
}

.square {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin: 0;
  border-radius: 5px;
}

/* Tooltip text */
.square .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

mark{
  position:relative;
}

mark .tooltiptext{
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.square:hover .tooltiptext,
mark:hover .tooltiptext {
  visibility: visible;
}

mark:hover {
  background-color: orange;
}

mark:active {
  background-color: red;
}
